<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
        crossorigin="anonymous">
    <title>Forum</title>
    </head>

    <body>
        <div class="container">
        <h1 class="mb-4" style="font-family: Avenir Light; color: rgb(65, 65, 65)"> <b>NEW</b> POST</h1>

        <form action="/posts" method="POST">
            <%- include('_form_fields') %>
        </form>
        </div>
    </body>
</html>